@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animatedBackground {
    animation-duration: 1s;
    animation-fill-mode: forwards;
   border-radius: 9px;

    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;

    background: linear-gradient(to right, #100E0E 10%, #222326 18%, #100E0E 33%);
    background-size: 800px 104px;
    position: relative;
}
