.spinner {
    height: 2em;
    width: 2em;
    overflow: visible;
    margin-right: 20px;
}

.spinner:not(:required) {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.spinner:not(:required):after {
    content: '';
    display: block;
    font-size: 5px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    box-shadow: 
        red 1.5em 0 0 0, 
        red 1.1em 1.1em 0 0, 
        red 0 1.5em 0 0, 
        red -1.1em 1.1em 0 0, 
        red -1.5em 0 0 0, 
        red -1.1em -1.1em 0 0, 
        red 0 -1.5em 0 0, 
        red 1.1em -1.1em 0 0;
}

/* Animation */
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}